.sidebar {
    display: none;
}
@media (min-width : 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
@media (min-width: 768px){
.col-sm-3 {
    width: 7%;
}
}
/* Sidebar navigation */
 .nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar>.active>a {
    color: #fff;
    background-color: #428bca;
}

.cosmos-logo{
    height: 70px;
    width: 70px;
}

.side-items{
    padding-top: 250%;
    vertical-align: middle;
}

.side-item{
    border: 1px solid #337AFF;
    height:75px;
}

.side-name{
    color: #337AFF;
    vertical-align: middle;
    text-align: center;
}
